@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Food Insecurity Notification System</h1>
    <p>Please register to get notified when meal is available to you.</p>
</div>
