@page
@model AccountManagement.Pages.Accounts.registerModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<br />
<div>In order to register, you must have a valid PCC ID and be enrolled in the current term!</div>
<br />
<h4>Please fill out the form below.</h4>

<hr />
<div class="row">
    <div class="col-sm-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label for="inputFullName" class="col-sm-3 col-form-label font-weight-bold text-right">Full Name*</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputFullName" maxlength="50" placeholder="Firstname Lastname" required />
                </div>
                <span class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label font-weight-bold text-right">Email*</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="inputEmail" maxlength="50" placeholder="name@example.com" required />
                </div>
                <span class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label for="inputPhone" class="col-sm-3 col-form-label font-weight-bold text-right">Telephone</label>
                <div class="col-sm-6">
                    <input type="tel" class="form-control" id="inputPhone" placeholder="555-555-5555" minlength="10" maxlength="14" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
                </div>
                <span class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group row">
                <label for="inputUserName" class="col-sm-3 col-form-label font-weight-bold text-right">Username*</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputUserName" maxlength="30" placeholder="(must be unique)" required />
                </div>
                <span class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label font-weight-bold text-right">Password*</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword" minlength="9" maxlength="20" placeholder="(9-20 characters)" aria-describedby="passwordHelpBlock" required />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Your password must include at least 9 characters, including 1 uppercase letter, 1 lowercase letter, and either 1 number or 1 special character.
                    </small>
                </div>
                <span class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label for="inputConfirm" class="col-sm-3 col-form-label font-weight-bold text-right">Confirm Password*</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputConfirm" minlength="9" maxlength="20" placeholder="(must be identical)" required />
                </div>
                <span class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold text-right">Subscribe to Location(s)</label>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="chkCascade">
                        <label class="form-check-label" for="chkCascade">
                            Cascade
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="chkRockCreek">
                        <label class="form-check-label" for="chkRockCreek">
                            Rock Creek
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="chkSoutheast">
                        <label class="form-check-label" for="chkSoutheast">
                            Southeast
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="chkSylvania">
                        <label class="form-check-label" for="chkSylvania">
                            Sylvania
                        </label>
                    </div>
                </div>
                <span class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <input type="submit" value="Register" class="btn btn-primary" />
                    <a href="/Index" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}