@{ 
/*
    Author:         Nick Dechativong
    Created Date:   04/23/2020
    Class:          CIS 234A
    Objective:      This razor page presents the landing page after user registration process
*/
}

@model IEnumerable<AccountManagement.Models.userAccount>

@{
    ViewData["Title"] = "Index";
}


<h1>Congratulations! </h1>
<hr>
<p>You have successfully registered to our notification system.</p>
<p>You can now login to manage your profile.</p>


@{ // TODO: Sprint 2 - update greeting message 
}