@{
/*
    Author:         Nick Dechativong
    Created Date:   04/23/2020
    Class:          CIS 234A
    Objective:      This razor page presents information about the application
*/
}

@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p>Food Insecurity Notification System Project is developed by:</p>

<b style="color:dimgrey">&lt&ltTeam Apex&gt&gt</b>
<ul>
    <li>Nick Dechativong</li>
    <li>Becca Menefee-Scheets</li>
    <li>Vincent Amela</li>
    <li>Tyler Keske</li>
</ul>

Special Thanks to:
<ul>
    <li>Mike Mostafavi</li>
</ul>