@{
/*
    Author:         Nick Dechativong
    Created Date:   04/23/2020
    Class:          CIS 234A
    Objective:      This razor page presents the home page of the application
*/
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Food Insecurity Notification System</h1>
    <h4>Please register to get notified when meal is available to you.</h4>
    <br>
    <br>
    <br>
    <img src="~/images/PantherPantry_1200x500_2020_Webslider_R2-1000x444.jpg" alt="Hungry? We're here for you.">
</div>
