@{
/*
    Author:         Nick Dechativong
    Created Date:   04/23/2020
    Class:          CIS 234A
    Objective:      This razor page presents the home page of the application
*/
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Food Insecurity Notification System</h1>
    <p>Please register to get notified when meal is available to you.</p>
</div>
