@page
@model AccountManagement.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="account.userName" class="control-label"></label>
                <input asp-for="account.userName" class="form-control" />
                <span asp-validation-for="account.userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.passwordHash" class="control-label"></label>
                <input asp-for="account.passwordHash" class="form-control" />
                <span asp-validation-for="account.passwordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.fullName" class="control-label"></label>
                <input asp-for="account.fullName" class="form-control" />
                <span asp-validation-for="account.fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.emailAddress" class="control-label"></label>
                <input asp-for="account.emailAddress" class="form-control" />
                <span asp-validation-for="account.emailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.isActive" class="control-label"></label>
                <input asp-for="account.isActive" class="form-control" />
                <span asp-validation-for="account.isActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="account.createdDate" class="control-label"></label>
                <input asp-for="account.createdDate" class="form-control" />
                <span asp-validation-for="account.createdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
