@using AccountManagement.Models
@using System.Security.Claims;


@if (User.FindFirst(ClaimTypes.Name) == null)
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item pr-3">
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item pr-3">
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item pr-3">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item pr-3">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="btn navbar-btn text-white text-justify">Log out</button>
            </form>
        </li>
        <li class="nav-item pr-3">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>
        </li>
    </ul>
}