@{
/*
    Author:         Nick Dechativong
    Created Date:   04/23/2020
    Class:          CIS 234A
    Objective:      This razor page is used to manage navigation functions based on user session
*/
}

@using AccountManagement.Models
@using System.Security.Claims;


@if (User.FindFirst(ClaimTypes.Name) == null)
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item pr-3">
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item pr-3">
            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item pr-3">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>
        </li>
    </ul>
}
else
{
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item pr-3">
        <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
    <li class="nav-item pr-3">
        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About</a>
    </li>
</ul>
}